.jumbo{
	text-align: center;
	background-color: CornflowerBlue;
	color: wheat; 
	margin-bottom: 0%;
}

.jumbotext{


	font-family:serif;
	
}

.reno{
	font-family:serif;
	color: wheat;
}

.logo{
	width: 20%;
	margin-top: -1% ;


}


.navbar{

	margin-top: 0%;
}

.bath{
	width: 100%;


}

.jumbo1{
	padding-top: 1%;
	padding-bottom: 0%;
}

.quote{

}



